<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd"> <!--规范文件-->
<configuration>
    <!--添加设置-->
    <settings>
        <!--将数据库中的下划线自动转化成驼峰写法-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--设置别名-->
    <typeAliases>
        <package name="com.pilipili.entity"/>
    </typeAliases>
</configuration>