/*dede58.com 做最好的织梦整站模板下载网站*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, small, strong, dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
em, strong, i {
  font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
body {
  line-height: 1;
  font-size: 12px;
  font-family: "Microsoft Yahei";
  color: #333;
  background-color: #fff;
}
ul, ol {
  list-style: none;
}
a {
  display: block;
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #00a1d6;
}
input, button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}
img {
  vertical-align: top;
  border: 0;
}